Importing libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

Loading Main Dataset

In [41]:
df = pd.read_csv(r"C:\Users\pc\Documents\JUPYTER ML\Codveda-Internship\Data Set For Task\4) house Prediction Data Set.csv", sep=",", header=None)

if df.shape[1] == 1:
    df = df[0].astype(str).str.split(expand=True)
df.columns = ['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV']
df.head()

      CRIM     ZN  INDUS CHAS     NOX  ...    TAX PTRATIO       B LSTAT   MEDV
0  0.00632  18.00  2.310    0  0.5380  ...  296.0   15.30  396.90  4.98  24.00
1  0.02731   0.00  7.070    0  0.4690  ...  242.0   17.80  396.90  9.14  21.60
2  0.02729   0.00  7.070    0  0.4690  ...  242.0   17.80  392.83  4.03  34.70
3  0.03237   0.00  2.180    0  0.4580  ...  222.0   18.70  394.63  2.94  33.40
4  0.06905   0.00  2.180    0  0.4580  ...  222.0   18.70  396.90  5.33  36.20

[5 rows x 14 columns]

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    object
 1   ZN       506 non-null    object
 2   INDUS    506 non-null    object
 3   CHAS     506 non-null    object
 4   NOX      506 non-null    object
 5   RM       506 non-null    object
 6   AGE      506 non-null    object
 7   DIS      506 non-null    object
 8   RAD      506 non-null    object
 9   TAX      506 non-null    object
 10  PTRATIO  506 non-null    object
 11  B        506 non-null    object
 12  LSTAT    506 non-null    object
 13  MEDV     506 non-null    object
dtypes: object(14)
memory usage: 55.5+ KB

In [43]:
df.describe()

           CRIM    ZN   INDUS CHAS     NOX  ...    TAX PTRATIO       B LSTAT   MEDV
count       506   506     506  506     506  ...    506     506     506   506    506
unique      504    26      76    2      81  ...     66      46     357   455    229
top     0.01501  0.00  18.100    0  0.5380  ...  666.0   20.20  396.90  6.36  50.00
freq          2   372     132  471      23  ...    132     140     121     3     16

[4 rows x 14 columns]

In [44]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [45]:
df.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [46]:
df.isna().sum().sum()

np.int64(0)

In [47]:
df.duplicated().sum()

np.int64(0)

In [48]:
df.dtypes

CRIM       object
ZN         object
INDUS      object
CHAS       object
NOX        object
RM         object
AGE        object
DIS        object
RAD        object
TAX        object
PTRATIO    object
B          object
LSTAT      object
MEDV       object
dtype: object

Data Splitting

In [49]:
train, test = train_test_split(df, test_size=0.2, random_state=42)

In [50]:
train.to_csv('house prediction train set.csv', index=False)
test.to_csv('house prediction test set.csv', index=False)